body {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  justify-content: center;
  background-color: whitesmoke;
}

.header {
  height: 100px;
  align-items: center;
}

.notesMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
}

.newNBT {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
